h1 {
  color: cadetblue;
  text-align: center;
  font-weight: 600;
}


.formItems {
  text-align: center;
  margin: 0 auto;
}

.registerButton {
  color: #fff;
  background: #5876a3;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  border: none;
}

.allContents {
  height: 60%;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}
