h1 {
  color: cadetblue;
}


a {
  color: #fff;
  background: #5876a3;
  padding: 10px 30px;
  display: block;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  text-decoration: none;
}

.options {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 600px;
  height:300px;
}
