{% load static %}

<html lang="ja">
 <head>
   <meta charset="utf-8">
   <title>{% block title %}{% endblock %}}</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   
   {% block head %}{% endblock %}
 </head>

 <body>
    {% include 'user/header.html' %}
    <h1>ホーム</h1>
    <p>{{ user.username }}さんようこそ。</p>
    {% block contents %}{% endblock %}


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
