<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
</head>
<body>
<form action="{% url 'user:like' tweet.pk %}" method="POST">
  {% csrf_token %}
  {% if tweet.id in liked_list %}
      <button id="like" name="{{tweet.id}}"><i class="fas fa-lg fa-heart like-red">良いね</i></button>
  {% else %}
      <button id="like" name="{{tweet.id}}"><i class="far fa-lg fa-heart">まだいいねしてない</i></button>      
  {% endif %}
</form>
<p name="{{tweet_id}}-count" class="count"> {{ tweet.likemodel_set.count }} </p>

<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            print('called')
            $.ajax({
                type: 'POST',
                url: "{% url 'user:like' tweet.pk %}",
                data: {
                    'tweet_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.tweet_id);
                    if(response.liked){
                        $(selector).html("<i class='fas fa-lg fa-heart'></i>");
                    }
                    else {
                        $(selector).html("<i class='fas fa-lg fa-heart'></i>");
                    }
                    selector2 = document.getElementsByName(response.tweet_id + "-count");
                    $(selector2).text(response.count);
                }
            });
        });
    });
</script>
</body>
</html>
