{% block content %}
プロフィール画面
{% endblock %}

{% block itemsbeforehome %}
<header>
  {{ user.username }}さんのプロフィールです。
  <a href="{% url 'logout' %}">ログアウトする</a>
  <a href="{% url 'tweet:tweet' %}"> ツイートする</a>
  <a href="{% url 'user:home' %}">ホームに戻る</a>
  <a href="{% url 'user:follow' %}">このユーザをフォローする</a>
</header>

{% for tweet in tweet_list %}
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
  <div class="inline">
    {{ tweet.author.username }}
    {{ tweet.created_at }}
  </div>
  {{ tweet.text }}
</div>

{% endfor %}
{% endblock %}
