{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sign_up.css' %}">

    <title>{% block title %}ユーザ登録する{% endblock %}</title>
</head>

<body>

    <div class="allContents">
        <h1>ユーザ登録する</h1>
        <form method="post" action="{% url 'user:signup' %}">
            {% csrf_token %}
            <div class="formItems">
                <p>{{ form.username.label_tag }}</p>
                <p>{{ form.username }}</p>

                <p>{{ form.email.label_tag }}</p>
                <p>{{ form.email }}</p>

                <p>{{ form.password1.label_tag }}</p>
                <p>{{ form.password1 }}</p>

                <p>{{ form.password2.label_tag }}</p>
                <p>{{ form.password2 }}</p>
                <input type="submit" value="登録する" class="registerButton" />
            </div>
        </form>

    </div>


</body>

</html>
